{% extends "base.html" %} 
{% load bootstrap4 %}
{% include 'navbar.html' %}
{% block content %}



    
        <hr>
        <hr>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">You have been logged out</h4>
            <p> You cannot access the website page without login in</p>
            <hr>
            <p class="mb-0"><a class="ml-2" href="{% url 'login' %}">Login in again</a></p>
        </div>
    </div>
{% endblock %}