{% extends "registration/base.html" %} 
{% load bootstrap4 %}
{% include 'navbar.html' %}
{% block content %}



    
        
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading" style="font-family: 'Open Sans Condensed', sans-serif;">You have been logged out</h4>
            <p style="font-family: 'Open Sans Condensed', sans-serif;"> You cannot access the website page without login in</p>
            <hr>
            <p class="mb-0" style="font-family: 'Open Sans Condensed', sans-serif;"><a class="ml-2" href="{% url 'login' %}">Login in again</a></p>
          </div>

{% endblock %}