{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{{block.super}}
    

        <div class="col-md-4">
            <hr>
            <hr>
                <img class="img-fluid" src="{{post.photo.cdn_url}}" alt="">
                
                
            
            {% if post.account == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete' post.id %}">Delete</a>
                </div>
            {% endif %}
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Rate now</button>

            
            <div class="row">
                <div class="col-md-4">Design <span class="badge badge-pill badge-secondary">{{post.design}}</span></div>
                <div class="col-md-4">Usability <span class="badge badge-pill badge-info">{{post.usability}}</span></div>
                <div class="col-md-4">Content <span class="badge badge-pill badge-danger">{{post.content}}</span></div>
              </div>
              <h3 style="margin:20px;">Average Score <span class="badge badge-primary">{{average_score}}</span></h3>
                   
             
        </div>
        
        <br><br>
        <hr>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form  method="POST" class="{% url 'detail' post.pk %}" action="" enctype="multipart/form-data">
                      {% csrf_token %}
                      <fieldset class="form-group">
                          {{ vote_form|crispy }}
                      </fieldset>
                      <div class="form-group">
                          <button class="btn btn-outline-info" type="submit" value="save">Submit vote</button>
          
                      </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        
       



{% endblock %}