{% extends 'base.html' %}

{% block content %}
{{block.super}}


    <h1>WELCOME</h1>
    <div class="row">
        {% for post in posts %}
            <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ post.photo.cdn_url }}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.description}}</p>
                        <a href="{% url 'detail' post.id %}" class="btn btn-outline-primary">View Details</a>
                        </div>
                    </div>

            </div>
            <br>
        {% endfor%}
    </div>


{% endblock %}