{% extends 'base.html' %}

{% block content %}
{{block.super}}

    <div class="container">
        <div class="row">
            {% if projects %}
            <h2 style="font-family: 'Fjalla One', sans-serif;">Found {{ projects|length }} of searched term {{message}}</h2>
            {% else %}
            <h2 style="font-family: 'Fjalla One', sans-serif;"> Found 0 projects for the search term {{message}}</h2>
            {% endif %}

        </div>

        <div class="row">

            {% if projects %}
                {% for project in projects %}
                <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card" style="width: 18rem; background-color: rgb(229, 232, 233)">
                        <img class="card-img-top" src="{{ project.photo.cdn_url }}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title" style="font-family: 'Fjalla One', sans-serif;">{{project.title}}</h5>
                        <p class="card-text" style="font-family: 'Fjalla One', sans-serif;">{{project.description}}</p>
                        <a href="{% url 'detail' project.id %}" class="btn btn-outline-primary">View Details</a>
                        </div>
                    </div>

            </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


{% endblock %}